<header>
  <div id="header-left">
    <div id="header-logo-container"></div>
  </div>
  <div id="header-right">
    <ul id="header-options">
      <li class="header-options-menu"><a target="#home">Home</a></li>
      <li class="header-options-menu"><a target="#about">About us</a></li>
      <li class="header-options-menu"><a target="#offer">What we offer</a></li>
      <li class="header-options-menu"><a target="#partners">Our Partners</a></li>
      <li class="header-options-menu"><a target="#contact">Contact us</a></li>
    </ul>
  </div>
</header>
