<section class="ecosystem" id="ecosystem">
  <div class="ecosystem__wrap">
    <!-- Bloque superior -->
    <header class="ecosystem__header">
      <h2 class="ecosystem__title">
        {{ 'offer.stakeholders.ecosystem.title1' | translate }}
      </h2>
    </header>
    <div class="ecosystem__grid-top">
      <div class="ecosystem__card">
        {{ 'offer.stakeholders.ecosystem.card1' | translate }}
      </div>
      <div class="ecosystem__card">
        {{ 'offer.stakeholders.ecosystem.card2' | translate }}
      </div>
      <div class="ecosystem__card">
        {{ 'offer.stakeholders.ecosystem.card3' | translate }}
      </div>
      <div class="ecosystem__card">
        {{ 'offer.stakeholders.ecosystem.card4' | translate }}
      </div>
      <div class="ecosystem__card ecosystem__card--single">
        {{ 'offer.stakeholders.ecosystem.card5' | translate }}
      </div>
    </div>
    <!-- Bloque inferior -->
    <header class="ecosystem__header ecosystem__header--spaced">
      <h2 class="ecosystem__title">
        {{ 'offer.stakeholders.ecosystem.title2' | translate }}
      </h2>
    </header>
    <div class="ecosystem__grid-bottom">
      <div class="ecosystem__pill">{{ 'offer.stakeholders.ecosystem.pill1' | translate }}</div>
      <div class="ecosystem__pill">{{ 'offer.stakeholders.ecosystem.pill2' | translate }}</div>
      <div class="ecosystem__pill">{{ 'offer.stakeholders.ecosystem.pill3' | translate }}</div>
      <div class="ecosystem__pill">{{ 'offer.stakeholders.ecosystem.pill4' | translate }}</div>
      <div class="ecosystem__pill">{{ 'offer.stakeholders.ecosystem.pill5' | translate }}</div>
      <div class="ecosystem__pill">{{ 'offer.stakeholders.ecosystem.pill6' | translate }}</div>
    </div>
  </div>
</section>