<section class="criteria" id="investment-criteria">
  <div class="criteria__wrap">
    <header class="criteria__header">
      <h2 class="criteria__title">
        Lorem Ipsum is simply dummy text of the printing and
      </h2>
    </header>

    <div class="criteria__list">
      <div class="criteria__pill">
        Mid market companies with a proven business model, an experienced and
        capable leadership team, high medium-term growth potential.
      </div>

      <div class="criteria__pill">
        Minimum of two years track record and minimum EBITDA of €5M.
      </div>

      <div class="criteria__pill">
        Support the rapid growth and expansion for research and product
        development, scale sales and delivery capacity, expand production,
        develop market.
      </div>
    </div>
  </div>
</section>