<section class="criteria" id="investment-criteria">
  <div class="criteria__wrap">
    <header class="criteria__header">
      <h2 class="criteria__title">
        {{ 'offer.focus.title' | translate }}
      </h2>
    </header>

    <div class="criteria__list">
      <div class="criteria__pill">
        {{ 'offer.focus.pill1' | translate }}
      </div>
      <div class="criteria__pill">
        {{ 'offer.focus.pill2' | translate }}
      </div>
      <div class="criteria__pill">
        {{ 'offer.focus.pill3' | translate }}
      </div>
    </div>
  </div>
</section>