/* You can add global styles to this file, and also import other style files */
@import './styles/variables';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap');

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--bluenavy-2);
  margin: 0;
  padding: 0;
  font-family: 'Inria Serif', serif !important;
  color: #fff;

}



section {
  position: relative;
  width: 100%;
  min-height: 100vh;
}